
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, ul,
dd, dt, li, tbody, tfoot, thead, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
}

body,td,th {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
}
body {
	background-color: #eaebec;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow:scroll;
}

a { 
	outline: 0;
	}

a img {
	border: 0px; 
	text-decoration: none;
}

a:link, a:visited {
	color: #005baa;
	padding: 0 1px;
	text-decoration: none;
}

a:hover, a:active {
	color: #000;
	text-decoration: none;
}


/* ===========================
   ========= Headings ======== 
   =========================== */
h2 { font-family: Tahoma, Geneva, sans-serif; font-weight:bold; font-size: 1.571em; color:#FFF;}	/* 22px */
h3 {font-family:  Tahoma, Geneva, sans-serif; font-weight:bold;  font-size: 1.429em; color:#FFF;}	/* 20px */
h4 {font-family:  Tahoma, Geneva, sans-serif; font-weight:bold;  font-size: 1.286em; color:#FFF;}	/* 18px */
h5 {font-family:  Tahoma, Geneva, sans-serif; font-weight:bold;  font-size: 1.143em; color:#FFF;}	/* 16px */
h6 {font-family:  Tahoma, Geneva, sans-serif; font-weight:bold;  font-size: 1em; color:#FFF;}		/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .4em;
}



#header{
	background:url("http://hydpcnew00123:4444/Style Library/images/header_bg.jpg") repeat-x top left;
	height:101px;
	}
	
#main-container{
	margin:0 auto;
	width:990px;
	height:100%;
	overflow:hidden;
	}
	
#header-left{
	float:left;
	width:300px;
	padding-top:30px
	}
	
#header-right{
	float:left;
	width:690px;
	height:101px;
	}
	 
#user_status{
	padding-top:30px;
	height:20px;
	font-weight:bold;
	}
	 
#nav{
	padding: 20px 0 0 250px;
	}
	 
#content_bg{
	background:url("http://hydpcnew00123:4444/Style Library/images/body_bg.jpg") repeat top left;
	min-height:550px;
	}
	
#content_bg_shadow{
	background:url("http://hydpcnew00123:4444/Style Library/images/body_top_shadow.png") repeat-x top left;
	height:100%;
	/*overflow:hidden;*/
	}
	
#banner{
	width:990px;
	height:330px;
	margin:20px 0 0 0;
	background:url("http://hydpcnew00123:4444/Style Library/images/banner_shadow.png") no-repeat bottom left;
	}
	
#status_container{
	width:990px;
	height:230px;
	height:100%;
	overflow:hidden;
	margin-bottom:20px;
	}
	
		
#home_status_left{
	width:490px;
	margin-right:10px;
	float:left;	
		}
	
#home_status_right{
	width:490px;
	float:left;
		}
	
.home_table_header{
	background-color:#d8dadc;
	font-weight:bold;
	border-right:#afb4b8 solid 1px;
	border-top:#afb4b8 solid 1px;
	}	
	
.home_table_flip{
	background-color:#f4f5f5;
	border-right:#c9cdd0 solid 1px;
	border-top:#c9cdd0 solid 1px;
	}
	
.home_table_flop{
	background-color:#ffffff;
	border-right:#c9cdd0 solid 1px;
	border-top:#c9cdd0 solid 1px;
	}	
	

#footer{
	background:url("http://hydpcnew00123:4444/Style Library/images/footer_bg.jpg") repeat-x top left;
	height:40px;
	}
	
.copyright{
	padding:15px 0 0 0;
	float:left;
	}
	
/* ===========================
   ========= innerpages ======== 
   =========================== */
   
#inner-caption{
	width:990px;
	height:30px;
	margin:30px 0 20px 0;
	}
	
#inner-header-bg{
	background:url("http://hydpcnew00123:4444/Style Library/images/innertable_header_bg.jpg") repeat-x top left;
	height:30px;
	padding:10px 0 0 10px;
	font-weight:bold;
	text-transform:uppercase;
	}
	
#inner_table_bg{
	background-color:#FFF;

	}
	
#inner_table_list{
	background-color:#FFF;
	padding:20px;
	}
	
.inner_textbox{
	background-color:#e2edff;
	border:#d3e2fb solid 1px;
	height:27px;
	width:155px;
	
	}
	
.inner_description{
	background-color:#e2edff;
	border:#d3e2fb solid 1px;
	height:100px;
	width:400px;
	
	}
	
.button{
	background:url("http://hydpcnew00123:4444/Style Library/images/button_bg.jpg") repeat-x top left #277cc7;
	height:25px;
	border:#1c6aae solid 1px;
	color:#FFF;
	font-weight:bold;
	}
	
.inner_table_header{
	background:url("http://hydpcnew00123:4444/Style Library/images/inner_table_header.jpg") repeat-x left bottom #c3c8cd;
	font-weight:bold;
	border-right:#9ea6ac solid 1px;
		}	
	
.inner_table_flip{
	background-color:#ededed;
	border-right:#d2d7da solid 1px;
	border-top:#c3c8cd solid 1px;
	}
	
.inner_table_flop{
	background-color:#fcfcfc;
	border-right:#d2d7da solid 1px;
	border-top:#c3c8cd solid 1px;
	}	